* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  background-color: blueviolet; }

.container {
  display: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

.clock {
  width: 60rem;
  height: 60rem;
  border: 1rem dotted goldenrod;
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  .clock__hands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; }
    .clock__hands--hourHand, .clock__hands--minuteHand, .clock__hands--secondHand {
      border-radius: 10px; }
    .clock__hands--hourHand {
      width: 1rem;
      height: 15rem;
      background-color: green;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 4;
      position: absolute; }
    .clock__hands--minuteHand {
      width: 1rem;
      height: 20rem;
      background-color: red;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 3;
      position: absolute; }
    .clock__hands--secondHand {
      width: .5rem;
      height: 25rem;
      background-color: yellow;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 5;
      position: absolute; }
  .clock__numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: goldenrod;
    position: relative;
    font-size: 4rem; }
    .clock__numbers > span {
      justify-self: center;
      align-self: center;
      position: absolute; }
    .clock__numbers--twelve-six {
      position: absolute;
      height: 200%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
    .clock__numbers--one-seven {
      position: absolute;
      height: 200%;
      transform: rotate(30deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--one-seven span:nth-child(1) {
        transform: rotate(-30deg); }
      .clock__numbers--one-seven span:nth-child(2) {
        transform: rotate(-30deg); }
    .clock__numbers--two-eight {
      position: absolute;
      height: 200%;
      transform: rotate(60deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--two-eight span:nth-child(1) {
        transform: rotate(-60deg); }
      .clock__numbers--two-eight span:nth-child(2) {
        transform: rotate(-60deg); }
    .clock__numbers--three-nine {
      position: absolute;
      height: 200%;
      transform: rotate(90deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--three-nine span:nth-child(1) {
        transform: rotate(-90deg); }
      .clock__numbers--three-nine span:nth-child(2) {
        transform: rotate(-90deg); }
    .clock__numbers--four-ten {
      position: absolute;
      height: 200%;
      transform: rotate(120deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--four-ten span:nth-child(1) {
        transform: rotate(-120deg); }
      .clock__numbers--four-ten span:nth-child(2) {
        transform: rotate(-120deg); }
    .clock__numbers--five-eleven {
      position: absolute;
      height: 200%;
      transform: rotate(150deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--five-eleven span:nth-child(1) {
        transform: rotate(-150deg); }
      .clock__numbers--five-eleven span:nth-child(2) {
        transform: rotate(-150deg); }

.digital {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #03071e, rgba(55, 6, 23, 0.8)); }
  .digital__clock {
    width: 80rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
    .digital__clock__number {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
      .digital__clock__number__square {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr); }
        .digital__clock__number__square .digital__bar {
          background-color: #fff; }
          .digital__clock__number__square .digital__bar--top {
            grid-column: 1 / -1;
            grid-row: 1 / 8;
            clip-path: polygon(0 0, 100% 0, 85% 15%, 15% 15%); }
          .digital__clock__number__square .digital__bar--bottom {
            grid-column: 1 / -1;
            grid-row: 4 / -1;
            clip-path: polygon(15% 85%, 85% 85%, 100% 100%, 0 100%); }
          .digital__clock__number__square .digital__bar--right {
            grid-column: 3 / -1;
            grid-row: 1 / -1;
            clip-path: polygon(85% 15%, 100% 0%, 100% 100%, 85% 88%); }
          .digital__clock__number__square .digital__bar--left {
            grid-column: 1 / 8;
            grid-row: 1 / -1;
            clip-path: polygon(0 0, 15% 15%, 15% 87%, 0% 100%); }
