* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.50%;
  overflow-x: hidden; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  background-color: blueviolet; }

.digital {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #03071e, rgba(55, 6, 23, 0.8)); }
  .digital__clock {
    width: 80rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 10rem 10rem 1fr 10rem 10rem 1fr 10rem 10rem 1fr;
    grid-column-gap: 2rem; }
    .digital__clock__number {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; }
      .digital__clock__number--one {
        grid-column: 2 / 3; }
      .digital__clock__number__square {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr); }
        .digital__clock__number__square .circle {
          width: 1rem;
          background-color: #fff;
          grid-row: 5 / 6; }
        .digital__clock__number__square .digital__bar {
          background-color: white;
          opacity: 0.1; }
          .digital__clock__number__square .digital__bar--top {
            grid-column: 1 / -1;
            grid-row: 1 / 8;
            clip-path: polygon(0 0, 100% 0, 85% 15%, 15% 15%); }
          .digital__clock__number__square .digital__bar--bottom {
            grid-column: 1 / -1;
            grid-row: 4 / -1;
            clip-path: polygon(15% 85%, 85% 85%, 100% 100%, 0 100%); }
          .digital__clock__number__square .digital__bar--right {
            grid-column: 3 / -1;
            grid-row: 1 / -1;
            clip-path: polygon(85% 15%, 100% 0%, 100% 100%, 85% 88%); }
          .digital__clock__number__square .digital__bar--left {
            grid-column: 1 / 8;
            grid-row: 1 / -1;
            clip-path: polygon(0 0, 15% 15%, 15% 87%, 0% 100%); }
