
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}
*,
*::before, 
*::after { 
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 10px;



    @media only screen and (max-width: $bp-largest) { 
        font-size: 7px; 
    }

    @media only screen and(max-width:  $bp-large) {
        font-size: 6px; 
    }

    @media only screen and(max-width: $bp-medium) {
        font-size: 5px; 
    }
    @media only screen and(max-width: $bp-small) {
        font-size: 4px; 
    }
    @media only screen and(max-width: $bp-smallest) {
        font-size: 4px; 
    }
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
    color: #fff;
    line-height: 1.6;
    font-size: 1.6rem;
    
    background-color: blueviolet;
 
}


