
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.50%;
    overflow-x: hidden;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%; 
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%; 
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 25%; 
    }
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
    color: #fff;
    line-height: 1.6;
    
    background-color: blueviolet;
 
}


