:root {
    font-size: 16px;
}
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 62.50%;


    @media (max-width: 1200px) {
        font-size: 50%; 
    }

    @media (max-width: 1100px) {
        font-size: 40%; 
    }

    @media (max-width: 900px) {
        font-size: 25%; 
    }
    @media (max-width: 600px) {
        font-size: 20%; 
    }
    @media (max-width: 500px) {
        font-size: 17%; 
    }
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
    color: #fff;
    line-height: 1.6;
    
    background-color: blueviolet;
 
}


