.digital {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


    background-image: linear-gradient(
        to right,
        rgba(3, 7, 30, 1),
        rgba(55, 6, 23, 0.8));


    &__clock {
        width: 80rem;
        height: 20rem;

        display: grid;
        grid-template-columns: repeat(8, 1fr);

        &__number {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            &__square {
                
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);

                .digital__bar {
                    
                    background-color: #fff;
                    

                    &--top {
                        grid-column: 1 / -1;
                        grid-row: 1 / 8;
                        clip-path: polygon(0 0, 100% 0, 85% 15%, 15% 15%);
                    }

                    &--bottom {
                        grid-column: 1 / -1;
                        grid-row: 4 / -1;
                        clip-path: polygon(15% 85%, 85% 85%, 100% 100%, 0 100%);
                        
                    }
                    &--right {
                        grid-column: 3 / -1;
                        grid-row: 1 / -1;
                        clip-path: polygon(85% 15%, 100% 0%, 100% 100%, 85% 88%);
                    }
                    &--left {
                        grid-column: 1 / 8;
                        grid-row: 1 / -1;
                        clip-path: polygon(0 0, 15% 15%, 15% 87%, 0% 100%);
                        
                    }
                }
            }
        }
    }
}



